# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/
.pipenv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm / VSCode / other IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and local files
*.log
*.swp
*.bak
*.tmp

# GitHub-specific
LICENSE
README.md
